.dec-special {
  max-width: 1474px;
  width: 100vw;
  margin: 0 auto 96px auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
  h5 {
    color: #fff;
    font-family: var(--font-inter);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 277.555px;
    height: 77px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #473723;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 768px) {
      font-size: 23px;
      width: 200px;
      height: 9vh;
    }
  }
  .dec-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.1vw;
    @media screen and (max-width: 534px) {
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 3vh;
    }

    img {
      width: 631.263px;
      height: 493px;
      flex-shrink: 0;
      @media screen and (max-width: 1275px) {
        width: 45vw;
      }
      @media screen and (max-width: 768px) {
        height: 463px;
      }
      @media screen and (max-width: 568px) {
        width: 48vw;
      }
      @media screen and (max-width: 534px) {
        width: 95vw;
      }
      @media screen and (max-width: 375px) {
        width: 100vw;
        height: 443px;
      }
    }
  }
}
