.inquiry {
  max-width: 1474px;
  width: 100vw;
  margin: 0 auto 80px auto;
  height: auto;
  display: flex;
  align-items: center;

  .inquiry-left-cover {
    background: #473723;
    width: 1047px;
    padding: 102.54px 0 127.89px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 1379px) {
      width: 70vw;
    }
    @media screen and (max-width: 375px) {
      justify-content: flex-start;
      padding: 102.54px 0 127.89px 1rem;
    }
    .inquiry-left {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h4 {
        color: #fff5e8;
        font-family: var(--Noto_Serif);
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 23.67px;
        @media screen and (max-width: 544px) {
          font-size: 27px;
        }
        @media screen and (max-width: 425px) {
          font-size: 25px;
        }
        @media screen and (max-width: 375px) {
          font-size: 21px;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
        label {
          color: #fff5e8;
          font-family: var(--Noto_Serif);
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 23.44px;
          display: block;
          @media screen and (max-width: 544px) {
            font-size: 20px;
          }
          @media screen and (max-width: 425px) {
            font-size: 18px;
          }
        }
        input {
          width: 583px;
          height: 50.761px;
          margin-bottom: 19.8px;
          background: #fff5e8;
          display: block;
          @media screen and (max-width: 1104px) {
            width: 50vw;
          }
          @media screen and (max-width: 544px) {
            border-radius: 20px;
          }
        }
        textarea {
          width: 583px;
          height: 283.244px;
          background: #fff5e8;
          margin-bottom: 41.62px;
          display: block;
          @media screen and (max-width: 1104px) {
            width: 50vw;
          }
          @media screen and (max-width: 848px) {
            height: 220px;
          }
          @media screen and (max-width: 544px) {
            border-radius: 20px;
          }
        }
      }
    }
  }

  .inquiry-right {
    position: relative;
    z-index: 100;
    img {
      width: 413px;
      height: 748.212px;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: -5rem;
      @media screen and (max-width: 1104px) {
        width: 35vw;
        height: 700px;
      }
      @media screen and (max-width: 848px) {
        height: 500px;
        left: -3rem;
      }
      @media screen and (max-width: 544px) {
        width: 40vw;
        border-radius: 20px;
      }
      @media screen and (max-width: 375px) {
        width: 43vw;
      }
      @media screen and (max-width: 375px) {
        left: -2rem;
      }
    }
  }
}
