.main-about-cover {
  max-width: 1474px;
  width: 100vw;
  margin: auto;
  height: auto;
  flex-shrink: 0;

  .nav-section {
    height: 150px;
    width: 100%;
    background: #473723;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 569px) {
      flex-wrap: wrap;
    }

    .nonActive {
      color: rgba(255, 245, 232, 0.84);
      font-family: var(--Noto_Serif);
      font-size: 36px;
      font-style: normal;
      font-weight: 300;
      line-height: 50px;
      text-decoration: none;
      @media screen and (max-width: 1024px) {
        font-size: 25px;
      }
      @media screen and (max-width: 768px) {
        font-size: 21px;
      }
    }
    .setActive {
      color: #fdefdd;
      font-family: "Noto Serif";
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: 50px;
      position: relative;
      text-decoration: none;
      @media screen and (max-width: 1024px) {
        font-size: 30px;
      }
      @media screen and (max-width: 768px) {
        font-size: 23px;
      }
      &::after {
        content: "";
        width: 171px;
        height: 3px;
        background: #fff5e8;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        @media screen and (max-width: 1024px) {
          width: 140px;
        }
        @media screen and (max-width: 768px) {
          width: 110px;
        }
      }
    }
  }
  p {
    width: 1123px;
    color: #473723;
    font-family: var(--font-inter);
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 43px;
    margin: 81px auto 32px auto;
    @media screen and (max-width: 1161px) {
      width: 80vw;
      font-size: 27px;
    }
    @media screen and (max-width: 918px) {
      width: 90vw;
      font-size: 25px;
    }
    @media screen and (max-width: 637px) {
      font-size: 21px;
      width: 93vw;
    }
    @media screen and (max-width: 425px) {
      font-size: 19px;
      line-height: 39px;
    }
  }
  .jake {
    width: auto;
    display: flex;
    align-items: center;
    margin: 32px 0 32px 0;
    @media screen and (max-width: 580px) {
      flex-direction: column-reverse;
      justify-content: center;
    }
    img {
      width: 750px;
      height: 900px;
      flex-shrink: 0;
      &:hover {
        mix-blend-mode: multiply;
      }
      @media screen and (max-width: 1357px) {
        width: 55vw;
      }
      @media screen and (max-width: 1024px) {
        height: 600px;
        width: 52vw;
      }
      @media screen and (max-width: 654px) {
        height: 500px;
      }
      @media screen and (max-width: 580px) {
        width: 93vw;
        height: 650px;
      }
      @media screen and (max-width: 446px) {
        height: 520px;
        width: 94vw;
      }
    }
    .jake-content {
      width: 610px;
      height: 730px;
      flex-shrink: 0;
      background: #473723;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 123px 0 0 77px;
      z-index: 100;
      @media screen and (max-width: 1357px) {
        width: 37vw;
      }
      @media screen and (max-width: 1024px) {
        width: 40vw;
        height: auto;
        padding: 0;
        align-items: center;
        justify-content: center;
        padding: 1rem 0 1rem 0;
      }
      @media screen and (max-width: 848px) {
        padding: 1rem 1rem 1rem 1rem;
      }
      @media screen and (max-width: 580px) {
        width: 70vw;
      }
      @media screen and (max-width: 446px) {
        width: 80vw;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      }

      h2 {
        color: #fdefdd;
        font-family: var(--Noto_Serif);
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 1rem;
        @media screen and (max-width: 1357px) {
          font-size: 37px;
        }
        @media screen and (max-width: 1024px) {
          font-size: 32px;
          margin-bottom: 0.2rem;
        }
        @media screen and (max-width: 654px) {
          font-size: 27px;
        }
      }
      p {
        color: #fff5e8;
        font-family: var(--font-inter);
        font-size: 30px;
        font-style: normal;
        font-weight: 300;
        width: 25vw;
        line-height: 50px;
        margin: 0;
        @media screen and (min-width: 2065px) {
          width: auto;
        }
        @media screen and (max-width: 1357px) {
          font-size: 25px;
        }
        @media screen and (max-width: 1024px) {
          font-size: 20px;
          line-height: 35px;
        }
        @media screen and (max-width: 848px) {
          width: auto;
        }
        @media screen and (max-width: 654px) {
          font-size: 17px;
        }
      }
    }
  }
}
