.main-gallery {
  max-width: 1474px;
  width: 100vw;
  margin: auto;
  height: auto;
  flex-shrink: 0;

  .nav-list {
    height: 120px;
    width: 100%;
    background: #fdefdd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 72.74px 0 43px 0;
    @media screen and (max-width: 579px) {
      flex-wrap: wrap;
      gap: 1rem;
      height: auto;
    }

    .listActive {
      color: rgba(255, 245, 232, 0.84);
      font-family: var(--font-inter);
      font-size: 36px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-decoration: none;
      width: 277px;
      height: 77px;
      flex-shrink: 0;
      border-radius: 20px;
      background: rgba(71, 55, 35, 0.77);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 100;
      @media screen and (max-width: 1148px) {
        width: 20vw;
        height: 70px;
        font-size: 27px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 25px;
      }
      @media screen and (max-width: 768px) {
        font-size: 21px;
      }
      @media screen and (max-width: 579px) {
        width: 25vw;
      }
      @media screen and (max-width: 480px) {
        width: 30vw;
        height: 60px;
        font-size: 18px;
      }
      @media screen and (max-width: 375px) {
        width: 35vw;
        height: 60px;
      }
    }
    .selected {
      background: #473723;
      font-weight: 500;
    }
    .nonSelected {
      background: rgba(71, 55, 35, 0.25);
    }
  }
  .gallery-img-cover {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.3vw;
    row-gap: 0.2vw;
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    img {
      width: 480px;
      @media screen and (max-width: 1440px) {
        width: 33.3vw;
      }
      @media screen and (max-width: 768px) {
        width: 50vw;
      }
      height: 431px;
      flex-shrink: 0;
      @media screen and (max-width: 425px) {
        height: 310px;
      }

      &:nth-of-type(1) {
        grid-column: 1/3;
        grid-row: 1/3;
        width: calc(480px + 480px);
        height: calc(431px + 431px);
        @media screen and (max-width: 1440px) {
          width: calc(33.3vw + 33.3vw);
        }
        @media screen and (max-width: 768px) {
          grid-column: 1/3;
          grid-row: 1/2;
          width: 100vw;
          height: 431px;
        }
        @media screen and (max-width: 425px) {
          height: 310px;
        }
      }
      &:nth-of-type(2) {
      }
      &:nth-of-type(3) {
      }
      &:nth-of-type(4) {
      }
      &:nth-of-type(5) {
        grid-column: 2/4;
        grid-row: 3/5;
        width: calc(480px + 480px);
        height: calc(431px + 431px);
        @media screen and (max-width: 1440px) {
          width: calc(33.3vw + 33.3vw);
        }
        @media screen and (max-width: 768px) {
          grid-column: 1/3;
          grid-row: 4/5;
          width: 100vw;
          height: 431px;
        }
        @media screen and (max-width: 425px) {
          height: 310px;
        }
      }
      &:nth-of-type(6) {
      }
    }
  }
}
