* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #fff5e8;
}
.primary-button {
  width: 230px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #fff5e8;
  color: #000;
  font-family: var(--Noto_Serif);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 425px) {
    font-size: 18px;
    width: 170px;
    height: 55px;
  }
}

.brown {
  width: 1474px;
  height: 72px;
  flex-shrink: 0;
  background: #fdefdd;
}
