.profile-cover {
    height: 50vh;
    width: 100vw;
    position: relative;

    .pside{
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 2.5rem;
        background-color: #473723;
        height: 100%;
        width: fit-content;
        overflow: hidden;
        padding: 3rem 0.9rem 0 0.6rem;
        position: absolute;
        left: 0;
        top: 0;

        button {
            border: none;
            background-color: #473723;
            color: white;
            font-size: 1rem;
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
            width: fit-content;

             .s-iconn{
                width: 1.9rem;
                height: 1.9rem;
            }

            .s-icon{
                width: 1.3rem;
                height: 1.3rem;
            }

            .x{
                display: none;
            }
        }
    }
}

.changePPP {
    padding-top: 4rem;

    @media screen and (max-width: 768px) {
    padding-top: 7rem;

        label {
            display: none;
        }
    }

     @media screen and (max-width: 555px) {
   input{
    // display: none;
    width: 50vw !important;
   }
   button{
    // display: none;
    width: 40vw !important;
   }
    }
}