.ProfileAndCart{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem 0.7rem;
    background-color: #fff5e8;
    position: fixed;
    right: 2rem;
    top: 7.2rem;
    z-index: 2000;
    border: 2px solid black;
    border-radius: 2rem;

    a {
        text-decoration: none;
        color: #473723;
        width: fit-content;
    }
    .ProfileAndCart-icon {
            width: 1.7rem;
            height: 1.7rem;
    }

    button{
        border: none;
        display: block;
        position: relative;
        cursor: pointer;

        span {
            position: absolute;
            right: 0;
            top: -0.5rem;
            margin: auto;
            color: white;
            padding: 0.2rem 0.2rem;
            border-radius: 0.3rem;
            background-color: red;
            width: fit-content;
            height: fit-content;
            font-size: 0.7rem;
        }
    }

}